Package: lw-trains
Architecture: armhf
Depends: nodejs
Description: fork of h264-live-player to stream raspivid to browser in real time
Version: VERSIONHERE
Maintainer: "Luke Wallin" <trains@lukewallin.co.uk>
